<div class="container mx-auto px-4">
  <div class="py-5">

    <div class="p-5 sm:p-10 rounded-3xl shadow-md bg-white text-center">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="start center"
      >
        <div
          class="py-2 w-full"
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
        >
          <h2 class="text-2xl m-0">Encash List</h2>
          <div>
            <button
              mat-icon-button
              color="accent"
              (click)="filterPanel = !filterPanel"
              [matTooltip]="filterPanel ? 'Close Filter Panel' : 'Open Filter Panel'"
              [matTooltipPosition]="'above'"
              type="button"
            >
              <mat-icon>{{ filterPanel ? 'close' : 'filter_list' }}</mat-icon>
            </button>
            <app-list-menu (reload)="onReload()"></app-list-menu>
          </div>
        </div>
      </div>

      <app-encash-filter
        [isAdmin]="true"
        [showPanel]="filterPanel"
        (appFilter)="onAppFilter($event)"
        (appClearFilter)="onAppFilteredClear($event)"
      ></app-encash-filter>

      <mat-divider></mat-divider>
      <mat-card-content class="relative mb-0">
        <div class="w-full overflow-x-auto">
          <div *ngIf="loading">
            <mat-progress-bar
            mode="indeterminate"
          ></mat-progress-bar>
          </div>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="onSort($event)"
            class="w-full"
            aria-label="List"
          >
          <ng-container matColumnDef="id">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              ID
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-left">
              {{ element.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="encashBy.name">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              Encash By
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-left">
              {{ element.encashBy.name ?? '--' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="voucher.description">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              Voucher
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-left">
              {{ element.voucher.description ?? 'By Amount' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="points">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
            Amount
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-left">
              {{ element.points | currency:'PHP':'symbol-narrow' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
            Status
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-center">
              {{ element.status ?? '--' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="reason">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
            Reason
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-center">
              {{ element.reason ?? '--' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="approveBy.name">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              Approver
            </th>
            <td mat-cell *matCellDef="let element" class="uppercase text-center">
              {{ element.approveBy.name ?? '--' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              Created
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.created_at | date:'MMM d, y' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="date_signed">
            <th
              scope="col"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="uppercase font-bold"
            >
              Date Approved/Rejected
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.date_signed ? (element.date_signed | date:'MMM d, y') : '--'}}
            </td>
          </ng-container>

            <!-- ACTION Column -->
            <ng-container matColumnDef="action">
              <th scope="col"
                mat-header-cell
                *matHeaderCellDef
                class="uppercase font-bold">
                Action
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  class="text-red-600"
                  matTooltip="Reject"
                  matTooltipPosition="below"
                  (click)="onReject(element.id)"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button
                  mat-icon-button
                  class="text-green-600"
                  matTooltip="Approve"
                  matTooltipPosition="below"
                  (click)="onApprove(element.id)"
                >
                  <mat-icon>check</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="columns.length">
                No results found.
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>
      <mat-paginator
        [disabled]="loading"
        [pageSizeOptions]="pageSizeOPtions"
        [pageSize]="pageState.limit"
        (page)="fetchData($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
