<div class="py-5">
  <h1 class="text-4xl font-bold">Product</h1>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-3">
    <!-- Fields -->
    <div>
      <div class="p-10 rounded-3xl shadow-md bg-white text-center">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <div
            class="py-2 w-full"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
          >
            <h2 class="text-2xl m-0">Add</h2>
            <span class="flex-align-end"></span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-5">
            <form
              role="form"
              id="product__form"
              [formGroup]="productForm"
              (ngSubmit)="productForm.valid && onSubmit(productForm.value)"
            >
            <mat-form-field appearance="outline" color="primary" class="w-full">
              <mat-label>Product Name</mat-label>
              <input
                type="text"
                formControlName="name"
                placeholder="Product Name"
                matInput
                aria-label="Product Name"
              />
              <mat-error *ngIf="nameControl.errors?.required">
                Product Name is required
              </mat-error>
              <mat-error *ngIf="nameControl.errors?.minlength">
                Product Name min length is 4
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary" class="w-full">
              <mat-label>Personal Points</mat-label>
              <input
                matInput
                formControlName="personal_points"
                type="text"
                placeholder="Personal Points"
                aria-label="Personal Points"
              />
              <mat-error *ngIf="personalPointsControl.errors?.required">
                Personal Points is required
              </mat-error>
              <mat-error *ngIf="personalPointsControl.errors?.numeric">
                Personal Points is numeric only
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary" class="w-full">
              <mat-label>Upline Points</mat-label>
              <input
                matInput
                formControlName="upline_points"
                type="text"
                placeholder="Upline Points"
                aria-label="Upline Points"
              />
              <mat-error *ngIf="uplinePointsControl.errors?.required">
                Upline Points is required
              </mat-error>
              <mat-error *ngIf="uplinePointsControl.errors?.numeric">
                Upline Points is numeric only
              </mat-error>
            </mat-form-field>
            <div class="mt-8">
              <button
                  class="w-full"
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="productForm.invalid || submitLoading"
                >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- List -->
    <div class="col-span-2">
      <div class="p-10 rounded-3xl shadow-md bg-white text-center">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <div
            class="py-2 w-full"
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
          >
            <h2 class="text-2xl m-0">List</h2>
            <div>
              <button
                mat-icon-button
                color="accent"
                (click)="filterPanel = !filterPanel"
                [matTooltip]="filterPanel ? 'Close Filter Panel' : 'Open Filter Panel'"
                [matTooltipPosition]="'above'"
                type="button"
              >
                <mat-icon>{{ filterPanel ? 'close' : 'filter_list' }}</mat-icon>
              </button>
              <app-list-menu (reload)="onReload()"></app-list-menu>
            </div>
          </div>
        </div>
        <app-product-filter
          [showPanel]="filterPanel"
          (appFilter)="onAppFilter($event)"
          (appClearFilter)="onAppFilteredClear($event)"
        ></app-product-filter>
        <mat-divider></mat-divider>
        <mat-card-content class="relative mb-0">
          <div class="w-full overflow-x-auto">
            <div *ngIf="loading">
              <mat-progress-bar
              mode="indeterminate"
            ></mat-progress-bar>
            </div>
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              (matSortChange)="onSort($event)"
              class="w-full"
              aria-label="Product List"
            >

              <ng-container matColumnDef="name">
                <th
                  scope="col"
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="uppercase font-bold"
                >
                  Product Name
                </th>
                <td mat-cell *matCellDef="let element" class="uppercase text-left">
                  {{ element.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="personal_points">
                <th
                  scope="col"
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="uppercase font-bold"
                >
                  Personal Points
                </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  {{ element.personal_points || '--' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="upline_points">
                <th
                  scope="col"
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="uppercase font-bold"
                >
                  Upline Points
                </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  {{ element.upline_points || '--' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="created_at">
                <th
                  scope="col"
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="uppercase font-bold"
                >
                  Created At
                </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                  {{ element.created_at | date:'MMM d, y' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="columns.length">
                  No results found.
                </td>
              </tr>
            </table>
          </div>
        </mat-card-content>
        <mat-paginator
          [disabled]="loading"
          [pageSizeOptions]="pageSizeOPtions"
          [pageSize]="pageState.limit"
          (page)="fetchData($event)"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
