$grey: #32a852;
$gray: $grey;

$primary: #166534;
$secondary: $grey;
$success: #43A047;
$info: #304FFE;
$warning: #FFEB3B;
$danger: #E53935;
$error: $danger;
$gray-200: #C5C7CD;
$gray-400: #9CA3AF;

$white: #fff;
$black: #263238;
$login-background-color: #DBE2F9;
