<ng-container>
	<div fxLayout="row wrap" fxLayoutAlign="center start">
		<div fxFlex="100">
			<div
				class="mat-headline text-center font-weight-black text__secondary"
				[@animate]="{value:'*', params:{delay:'50ms',y:'25px'}}"
			>
				Please change your password.
			</div>
			<p class="text-center text__secondary">{{ message }}</p>
		</div>

		<div
			fxFlex="100"
			fxFlex.gt-md="50"
			[@animate]="{value:'*',params:{delay:'300ms',x:'-100%'}}"
		>
			<form
				role="form"
				id="change--pass"
				class="w-full"
				[formGroup]="form"
				(ngSubmit)="form.valid && onSubmit(form.value)"
			>
				<mat-form-field appearance="outline" color="primary" class="w-full">
					<mat-label>New Password</mat-label>
					<input
						matInput
						formControlName="password"
						[type]="hide ? 'password' : 'text'"
						placeholder="New Password"
						aria-label="New Password"
					/>
					<button
						mat-icon-button
						matSuffix
						type="button"
						(click)="hide = !hide"
						[attr.aria-label]="!hide ? 'Hide Password' : 'Show Password'"
					>
						<mat-icon class="material-icons-outlined">
							{{ hide ? 'visibility_off_outline' : 'visibility_outline' }}
						</mat-icon>
					</button>
					<mat-error *ngIf="passwordControl.errors?.required">
						New Password is required
					</mat-error>
					<mat-error
						*ngIf="passwordControl.hasError('minlength') || passwordControl.hasError('maxlength')"
					>
						Minimum of 6 characters and maximum of 50 characters
					</mat-error>
					<mat-error *ngIf="passwordControl.errors?.serverError">
						{{ passwordControl.errors?.serverError }}
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" color="primary" class="w-full">
					<mat-label>Confirm New Password</mat-label>
					<input
						matInput
						formControlName="password_confirmation"
						[type]="hide ? 'password' : 'text'"
						placeholder="Confirm New Password"
						aria-label="Confirm New Password"
					/>
					<button
						mat-icon-button
						matSuffix
						type="button"
						(click)="hide = !hide"
						[attr.aria-label]="hide ? 'Hide Password' : 'Show Password'"
					>
						<mat-icon class="material-icons-outlined">
							{{ hide ? 'visibility_off_outline' : 'visibility_outline' }}
						</mat-icon>
					</button>
					<mat-error *ngIf="passwordConfirmControl.hasError('mismatched')">
						New Password and Confirm New Password should be matched.
					</mat-error>
				</mat-form-field>

				<div class="my-5">
          <button
            type="submit"
            mat-raised-button
            class="w-full"
            color="primary"
            [disabled]="form.invalid || loading"
          >
            Change Password
          </button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
