<div class="text-center">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
  >
    <div
      class="py-2 w-full"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <h2 class="text-2xl m-0 w-1/4 text-left">Recent Points</h2>
      <div class="flex items-center">
        <div>
          <mat-paginator
          [hidePageSize]="true"
          [disabled]="loading"
          [pageSize]="pageState.limit"
          (page)="fetchData($event)"
        ></mat-paginator>
        </div>
        <app-list-menu (reload)="onReload()"></app-list-menu>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="relative mb-0">
    <div class="w-full overflow-x-auto">
      <div *ngIf="loading">
        <mat-progress-bar
        mode="indeterminate"
      ></mat-progress-bar>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-full"
        aria-label="Product List"
      >

        <ng-container matColumnDef="user.fullname">
          <th
            scope="col"
            mat-header-cell
            *matHeaderCellDef
            class="uppercase font-bold"
          >
            Register By
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-sm">
            <div>
              {{ element.user.fullname }}
            </div>
            <div class="text-gray-400">
              {{ element.productCode.date_used | date:'MMM d, y' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="productCode.product.name">
          <th
            scope="col"
            mat-header-cell
            *matHeaderCellDef
            class="uppercase font-bold"
          >
            Product Name
          </th>
          <td mat-cell *matCellDef="let element" class="uppercase text-left">
            {{ element.productCode.product.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="productCode.code">
          <th
            scope="col"
            mat-header-cell
            *matHeaderCellDef
            class="uppercase font-bold"
          >
            Product Code
          </th>
          <td mat-cell *matCellDef="let element" class="uppercase text-left">
            {{ element.productCode.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gain">
          <th
            scope="col"
            mat-header-cell
            *matHeaderCellDef
            class="uppercase font-bold"
          >
            Income
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ element.gain | currency:'PHP':'symbol-narrow'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th
            scope="col"
            mat-header-cell
            *matHeaderCellDef
            class="uppercase font-bold"
          >
            Points
          </th>
          <td mat-cell *matCellDef="let element" class="text-right font-bold text-green-800">
            {{ element.points || '--' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length">
            No results found.
          </td>
        </tr>
      </table>
      <!-- <div class="text-right pt-3">
        <a href="#" routerLink="/app/product-code" class="text-blue-400 text-base">View More</a>
      </div> -->
    </div>
  </mat-card-content>
</div>
