<div class="flex">
  <div
    *ngIf="notification.icon.show"
    class="flex justify-center text-gray-500 mr-2 p-1"
  >
    <mat-icon
      class="notification__icon"
      [svgIcon]="notification.icon.name"
    ></mat-icon>
  </div>
  <div class="flex flex-col">
    <h4 *ngIf="notification.title" class="notification__title">
      {{ notification?.title }}
    </h4>
    <p class="notification__message">{{ notification.message }}</p>
  </div>
  <div class="top-0 right-0 absolute pt-1 pr-4">
    <button
      class="text-gray-700"
      mat-icon-button
      type="button"
      (click)="snackBarRef.dismiss()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
