<div class="container mx-auto px-4">
  <div class="py-5">
    <h1 class="text-4xl font-bold">First Gen</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-3">
      <!-- Fields -->
      <div>
        <div class="p-10 rounded-3xl shadow-md bg-white text-center">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="start center"
          >
            <div
              class="py-2 w-full"
              fxLayout="row wrap"
              fxLayoutAlign="start center"
            >
              <h2 class="text-2xl m-0">Add</h2>
              <span class="flex-align-end"></span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="mt-5">
            <form
              role="form"
              id="product__form"
              [formGroup]="userForm"
              (ngSubmit)="userForm.valid && onSubmit(userForm.value)"
            >

            <mat-form-field appearance="outline" color="primary" class="w-full">
              <mat-label>Package Code</mat-label>
                <input
                  type="text"
                  formControlName="package_code"
                  placeholder="Package Code"
                  matInput
                  aria-label="Package Code"
                />
              <mat-error *ngIf="packageCodeControl.errors?.required">
                Package Code is required
              </mat-error>
            </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>First Name</mat-label>
                <input
                  type="text"
                  formControlName="first_name"
                  placeholder="First Name"
                  matInput
                  aria-label="First Name"
                />
                <mat-error *ngIf="firstNameControl.errors?.required">
                  First Name is required
                </mat-error>
                <mat-error *ngIf="firstNameControl.errors?.minlength">
                  First Name min length is 2
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>Last Name</mat-label>
                <input
                  type="text"
                  formControlName="last_name"
                  placeholder="Last Name"
                  matInput
                  aria-label="Last Name"
                />
                <mat-error *ngIf="lastNameControl.errors?.required">
                  Last Name is required
                </mat-error>
                <mat-error *ngIf="lastNameControl.errors?.minlength">
                  Last Name min length is 2
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                  aria-label="Email"
                />
                <mat-error *ngIf="emailControl.errors?.required">
                  Email required
                </mat-error>
                <mat-error *ngIf="emailControl.errors?.email">
                  Invalid Email
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>Mobile Number</mat-label>
                <input
                  matInput
                  formControlName="mobile_number"
                  type="text"
                  placeholder="Mobile (09xxxxxxxxx)"
                  aria-label="Mobile Number"
                />
                <mat-error *ngIf="mobileControl.errors?.required">
                Mobile Number is required
                </mat-error>
                <mat-error *ngIf="mobileControl.errors?.minlength">
                  Mobile Number min length is 11.
                </mat-error>
                <mat-error *ngIf="mobileControl.errors?.maxlength">
                  Mobile Number max length is 11.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  formControlName="address"
                  type="text"
                  placeholder="Address"
                  aria-label="Address"
                />
                <mat-error *ngIf="addressControl.errors?.required">
                Address is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="primary" class="w-full">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  type="text"
                  placeholder="password"
                  aria-label="Password"
                />
                <mat-error *ngIf="passwordControl.errors?.required">
                Address is required
                </mat-error>
                <mat-error *ngIf="passwordControl.errors?.minlength">
                  Addresss min length is 6.
                </mat-error>
              </mat-form-field>


              <div class="mt-8">
                <button
                    class="w-full"
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="userForm.invalid || submitLoading"
                  >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- List -->
      <div class="col-span-2">
        <div class="p-10 rounded-3xl shadow-md bg-white text-center">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="start center"
          >
            <div
              class="py-2 w-full"
              fxLayout="row wrap"
              fxLayoutAlign="space-between center"
            >
              <h2 class="text-2xl m-0">List</h2>
              <div>
                <button
                  mat-icon-button
                  color="accent"
                  (click)="filterPanel = !filterPanel"
                  [matTooltip]="filterPanel ? 'Close Filter Panel' : 'Open Filter Panel'"
                  [matTooltipPosition]="'above'"
                  type="button"
                >
                  <mat-icon>{{ filterPanel ? 'close' : 'filter_list' }}</mat-icon>
                </button>
                <app-list-menu (reload)="onReload()"></app-list-menu>
              </div>
            </div>
          </div>

          <app-first-gen-filter
            [memberships]="membershipOptions"
            [showPanel]="filterPanel"
            (appFilter)="onAppFilter($event)"
            (appClearFilter)="onAppFilteredClear($event)"
          ></app-first-gen-filter>

          <mat-divider></mat-divider>
          <mat-card-content class="relative mb-0">
            <div class="w-full overflow-x-auto">
              <div *ngIf="loading">
                <mat-progress-bar
                mode="indeterminate"
              ></mat-progress-bar>
              </div>
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                (matSortChange)="onSort($event)"
                class="w-full"
                aria-label="Product List"
              >
                <ng-container matColumnDef="users.fullname">
                  <th
                    scope="col"
                    mat-header-cell
                    *matHeaderCellDef
                    class="uppercase font-bold"
                  >
                    Fullname
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-left">
                    {{ element.users.fullname | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="packageCode.membership">
                  <th
                    scope="col"
                    mat-header-cell
                    *matHeaderCellDef
                    class="uppercase font-bold"
                  >
                    Package Membership
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-left">
                    {{ element.packageCode.membership || '--' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                  <th
                    scope="col"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="uppercase font-bold"
                  >
                    Created At
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-left">
                    {{ element.created_at | date:'MMM d, y' }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="columns.length">
                    No results found.
                  </td>
                </tr>
              </table>
            </div>
          </mat-card-content>
          <mat-paginator
            [disabled]="loading"
            [pageSizeOptions]="pageSizeOPtions"
            [pageSize]="pageState.limit"
            (page)="fetchData($event)"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
