<ng-container>
	<div fxLayout="row wrap" fxLayoutAlign="center start">
		<div fxFlex="100">
			<div
				class="mat-headline text-center font-weight-black text__secondary"
				[@animate]="{value:'*', params:{delay:'50ms',y:'25px'}}"
			>
				Forgot Password
			</div>
		</div>
		<div
			fxFlex="100"
			fxFlex.gt-md="50"
			[@animate]="{value:'*',params:{delay:'300ms',x:'-100%'}}"
		>
			<form
				role="form"
				class="w-full"
				[formGroup]="requestPasswordResetForm"
				(ngSubmit)="requestPasswordResetForm.valid && onSubmit(requestPasswordResetForm.value)"
			>
				<mat-card *ngIf="emailSent" class="w-100 message mb-3">
					{{message}}
				</mat-card>
				<mat-form-field appearance="outline" color="primary" class="w-full">
					<mat-label>Email Address</mat-label>
					<input
						type="email"
						formControlName="email"
						placeholder="Email Address"
						matInput
						aria-label="Email Address"
					/>
					<mat-icon matSuffix class="material-icons-outlined">person</mat-icon>
					<mat-error *ngIf="emailControl.errors?.required">
						Email Address is required
					</mat-error>
					<mat-error *ngIf="emailControl.hasError('email')">
						Invalid Email Address
					</mat-error>
				</mat-form-field>
				<div fxLayout="row">
					<a
						class="font-weight-bold text-link"
						routerLink="/login"
						aria-label="Return to login"
					>
						Return to log in
					</a>
				</div>
				<div class="my-5">
          <button
            type="submit"
            mat-raised-button
            class="font-weight-bold request-reset-password-button w-full"
            [disabled]="requestPasswordResetForm.invalid || loading || emailSent"
            color="primary"
          >
            Submit
          </button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
